<div class="page-header">
  <h1>Crash Reports</h1>
</div>
{{#if records}}
<table class="table">

  <tr>
    <th>Stackwalk</th>
    {{#each fields}}
      <th>{{titleCase this}}</th>
    {{/each}}
  </tr>

  {{#each records}}
    <tr>
      <td>
        <a href="{{reportUrl this.id}}">view</a>
      </td>
    {{#each this.props}}
      <td>
        {{#if this.path}}
          <a href="{{this.path}}">download</a>
        {{else}}
        {{this}}
        {{/if}}
      </td>
    {{/each}}
    </tr>
  {{/each}}
</table>
{{> pagination}}
{{else}}
  <p>No crash reports</p>
{{/if}}

