<h1>Crash Reports</h1>
<hr>
{{#if records}}
<table class="table">

  <tr>
    <th>Stackwalk</th>
    {{#each fields}}
      <th>{{titleCase this}}</th>
    {{/each}}
  </tr>

  {{#each records}}
    <tr>
      <td>
        <a href="{{reportUrl this.id}}">view</a>
      </td>
    {{#each this.props}}
      <td>
        {{#if this.path}}
          <a href="{{this.path}}">download</a>
        {{else}}
        {{this}}
        {{/if}}
      </td>
    {{/each}}
    </tr>
  {{/each}}
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {{#paginate pagination type="first"}}
    <li class="page-item{{#if disabled}} disabled{{/if}}">
      <a class="page-link" href="?page={{n}}" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">First</span>
      </a>
    </li>
    {{/paginate}}
    {{#paginate pagination type="previous"}}
    <li class="page-item{{#if disabled}} disabled{{/if}}">
      <a class="page-link" href="?page={{n}}" aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="10"}}
    <li class="page-item{{#if active}} active{{/if}}{{#if disabled}} disabled{{/if}}"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
    <li class="page-item{{#if disabled}} disabled{{/if}}">
      <a class="page-link" href="?page={{n}}" aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {{/paginate}}
    {{#paginate pagination type="last"}}
    <li class="page-item{{#if disabled}} disabled{{/if}}">
      <a class="page-link" href="?page={{n}}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Last</span>
      </a>
    </li>
    {{/paginate}}
  </ul>
</nav>
{{else}}
  <p>No crash reports</p>
{{/if}}

