<h1>Crash Reports</h1>
<hr>
{{#if records}}
<table class="table">

  <tr>
    <th>Stackwalk</th>
    {{#each fields}}
      <th>{{this}}</th>
    {{/each}}
  </tr>

  {{#each records}}
    <tr>
      <td>
        <a href="/crashreports/{{this.id}}">view</a>
      </td>
    {{#each this}}
      <td>
        {{#if this.path}}
          <a href="{{this.path}}">download</a>
        {{else}}
        {{this}}
        {{/if}}
      </td>
    {{/each}}
    </tr>
  {{/each}}
</table>
{{else}}
  <p>No crash reports</p>
{{/if}}
